<div class="card">
  <div class="card-content">
    <span class="device-type-id">{{device?.deviceTypeId}}</span>
    <span class="name">{{device?.name}}</span>
    <span class="failsafe">Failsafe:
      @if(device?.failsafe) {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon>cross</mat-icon>
      }
    </span>
  </div>
  <button class="delete-button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon (click)="click.emit()">delete</mat-icon>
  </button>
</div>
