# Angular specific
/device-manager-frontend/node_modules/
/device-manager-frontend/dist/
/device-manager-frontend/.angular/
/device-manager-frontend/tmp/
/device-manager-frontend/bazel-out/
/device-manager-frontend/*.log
/device-manager-frontend/.DS_Store
/device-manager-frontend/.idea/
/device-manager-frontend/.vscode/

# .NET specific
/DeviceMangerApi/bin/
/DeviceMangerApi/obj/
/DeviceMangerApi/*.user
/DeviceMangerApi/*.userosscache
/DeviceMangerApi/*.suo
/DeviceMangerApi/*.sln.docstates
/DeviceMangerApi/bin/
/DeviceMangerApi/obj/
/DeviceMangerApi/Debug/
/DeviceMangerApi/Release/
/DeviceMangerApi/x64/
/DeviceMangerApi/x86/
/DeviceMangerApi/build/
/DeviceMangerApi/project.lock.json
/DeviceMangerApi/artifacts/
/DeviceMangerApi/*.mdf
/DeviceMangerApi/*.ldf
/DeviceMangerApi/packages/
/DeviceMangerApi/TestResults/
/DeviceMangerApi/App_Data/
/DeviceMangerApi/wwwroot/
/DeviceMangerApi/.vs/
/DeviceMangerApi/*.user
/DeviceMangerApi/*.userosscache
/DeviceMangerApi/*.suo
/DeviceMangerApi/*.sln.docstates
/DeviceMangerApi/*.bak
/DeviceMangerApi/*.cache
/DeviceMangerApi/*.pidb
/DeviceMangerApi/*.log
/DeviceMangerApi/*.config
/DeviceMangerApi/*.config.user
/DeviceMangerApi/*.config.user.old
/DeviceMangerApi/*.config.old
/DeviceMangerApi/*.user
/DeviceMangerApi/*.user.old
