:host {
  display: flex;
}

.device-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;

  .add {
    background-color: lightgray;
    border: 1px solid;
    width: 200px;
  }
}
