:host {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

$button-width: 180px;
$padding: 10px;

.devices {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .device-grid {
    display: flex;
    width: calc(100% - ($button-width + $padding));

    gap: 20px;
    flex-wrap: wrap;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}
